# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/build/
android/key.properties

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Other
*.log
